@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
  h2 {
    font-family: "Libre Baskerville", serif;
    margin-top: 15px;
    font-size: 1.7em;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

    gap: 50px;
    figure {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 480px;
      height: 400px;
      gap: 10px;
      text-align: center;
      padding: 20px;
      border-radius: 10px;
      p{
        font-size: 1.3em;
      }
      img {
        height: 40%;
        margin: 10px;
        width: auto;
        object-fit: cover;
      }
    }
  }
}
