<section>
  <h2>Game List</h2>
  <div>
    <figure *ngFor="let game of gameList">
      <!-- <h3>{{game.title}}</h3> -->
      <!-- <img src="{{ game.picture }}" alt="{{ game.title }}" /> -->
      <img src="{../../../../assets/ff{{game.gameId}}.svg" alt="{{game.title}}">
      <p>Platform: {{ game.platform }}</p>
      <p>Release Date: {{ game.releaseDate }}</p>

      <!-- <button (click)="showDescription()">See description</button> -->
      <p>{{ game.description }}</p>
    </figure>
  </div>
</section>
