<section>
  <h1>Your Final Fantasy starts here</h1>
  <div class="container-text"><p>
    Final Fantasy is a Japanese science fantasy anthology media franchise
    created by Hironobu Sakaguchi, and developed and owned by Square Enix .
  </p>
  <p>
    The franchise centers on a series of fantasy and science fantasy
    role-playing video games.
  </p>
  <p>
    The first game in the series was released in 1987, with 16 numbered main
    entries having been released to date.
  </p></div>
  <h3>Discover more about the franchise</h3>
  <div class="container-links">
  <div class="section-link section-link--chara"><a routerLink="/characters">Characters
  </a></div>
  <div class="section-link section-link--games"><a routerLink="/games">Games
  </a></div>
  <div class="section-link section-link--art"><a routerLink="/art">Art
  </a></div>
</div>
</section>
